$primary-color: #732050;
$primary-color-2: #eadee5;
$secondary-color: #81a094;
$secondary-color-2: #d1e9e0;
$white-color: #ffffff;
$black-color: #370a24;

$font-family: 'Lato', sans-serif;
$letter-spacing: 0.05rem;
